<footer class="footer" >
    <ul class="copyright" >
        <li> &#169; Yogesh K Gautam. </li>
        <li> All Rights Reserved </li>
    </ul>
        
    <div class="footer-links-div" >
        <ul class="footer-links-list" >
            <li><a href="/"> Home </a></li>
            <li><a href="/users/profile">Profile</a></li>
        </ul>        
     </div>
        
</footer>